n8n/wf-accom-stock-alert.json
{
  "name": "DraggonnB - Accommodation Stock Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * *"
            }
          ]
        }
      },
      "id": "cron-stock-alert",
      "name": "Daily 07:30 SAST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/accommodation/stock-items?below_reorder=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "x-tenant-id",
              "value": "={{$env.DEFAULT_ORG_ID}}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-low-stock",
      "name": "Fetch Low Stock Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst items = response.data || response;\nif (!Array.isArray(items) || items.length === 0) {\n  return [{ json: { _skip: true, message: 'All stock levels OK' } }];\n}\nreturn [{ json: { items: items, count: items.length } }];"
      },
      "id": "parse-stock",
      "name": "Parse Stock Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-low-stock",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-has-low-stock",
      "name": "Has Low Stock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_URL}}/api/accommodation/telegram/stock-alert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "x-tenant-id",
              "value": "={{$env.DEFAULT_ORG_ID}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.items, count: $json.count, checked_at: $now.toISO() }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-stock-alert",
      "name": "Send Telegram Stock Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Daily 07:30 SAST": {
      "main": [
        [{ "node": "Fetch Low Stock Items", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Low Stock Items": {
      "main": [
        [{ "node": "Parse Stock Items", "type": "main", "index": 0 }]
      ]
    },
    "Parse Stock Items": {
      "main": [
        [{ "node": "Has Low Stock?", "type": "main", "index": 0 }]
      ]
    },
    "Has Low Stock?": {
      "main": [
        [{ "node": "Send Telegram Stock Alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Johannesburg"
  },
  "tags": [
    { "name": "accommodation" },
    { "name": "telegram" },
    { "name": "inventory" },
    { "name": "cron" }
  ]
}
