n8n/wf-accom-queue-processor.json
{
  "name": "DraggonnB - Accommodation Queue Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "cron-accom-queue",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_URL}}/api/accommodation/message-queue/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "x-tenant-id",
              "value": "={{$env.DEFAULT_ORG_ID}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "process-queue",
      "name": "Process Message Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    processed_at: now,\n    success: result.success || false,\n    processed_count: result.processed_count || 0,\n    failed_count: result.failed_count || 0,\n    summary: result.summary || 'Queue processing complete'\n  }\n}];"
      },
      "id": "log-result",
      "name": "Log Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [{ "node": "Process Message Queue", "type": "main", "index": 0 }]
      ]
    },
    "Process Message Queue": {
      "main": [
        [{ "node": "Log Results", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Johannesburg"
  },
  "tags": [
    { "name": "accommodation" },
    { "name": "messaging" },
    { "name": "cron" }
  ]
}
