n8n/wf-usage-alerts.json
[{"id":"usageAlerts01","name":"DraggonnB - Usage Threshold Alerts","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"cron-alerts","name":"Every 15 Minutes (offset +2m)"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  ucp.organization_id,\n  ucp.dimension,\n  ucp.used,\n  ucp.total_available,\n  CASE WHEN ucp.total_available > 0\n    THEN ROUND((ucp.used::numeric / ucp.total_available) * 100)\n    ELSE 0\n  END AS usage_percent,\n  ucp.bolt_on_remaining,\n  ucp.overage,\n  ucp.overage_rate_zar,\n  o.name AS org_name,\n  ts.current_period_start\nFROM usage_current_period ucp\nJOIN organizations o ON o.id = ucp.organization_id\nJOIN tenant_subscriptions ts ON ts.organization_id = ucp.organization_id\n  AND ts.status IN ('active', 'trialing')\nWHERE ucp.total_available > 0\n  AND ucp.total_available < 999999\nORDER BY usage_percent DESC;","additionalFields":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[250,0],"id":"fetch-usage","name":"Fetch Usage Data","credentials":{"postgres":{"id":"draggonnb-supabase-pg","name":"DraggonnB Supabase PG"}}},{"parameters":{"jsCode":"const rows = $input.all().map(i => i.json);\nconst thresholds = [50, 75, 90, 100];\nconst alerts = [];\n\nfor (const row of rows) {\n  const pct = Number(row.usage_percent);\n  for (const threshold of thresholds) {\n    if (pct >= threshold) {\n      alerts.push({\n        json: {\n          organization_id: row.organization_id,\n          org_name: row.org_name,\n          dimension: row.dimension,\n          threshold_percent: threshold,\n          usage_percent: pct,\n          used: row.used,\n          total_available: row.total_available,\n          bolt_on_remaining: row.bolt_on_remaining,\n          overage: row.overage,\n          overage_rate_zar: row.overage_rate_zar,\n          billing_period: row.current_period_start\n        }\n      });\n    }\n  }\n}\n\nif (alerts.length === 0) {\n  return [{ json: { no_alerts: true } }];\n}\nreturn alerts;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"calc-thresholds","name":"Calculate Thresholds"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-alerts","leftValue":"={{ $json.no_alerts }}","rightValue":true,"operator":{"type":"boolean","operation":"notTrue"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[720,0],"id":"check-alerts","name":"Has Alerts?"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO usage_alerts (organization_id, dimension, threshold_percent, billing_period, is_sent, sent_at)\nVALUES (\n  '{{ $json.organization_id }}',\n  '{{ $json.dimension }}',\n  {{ $json.threshold_percent }},\n  '{{ $json.billing_period }}',\n  true,\n  NOW()\n)\nON CONFLICT (organization_id, dimension, threshold_percent, billing_period)\nDO UPDATE SET is_sent = true, sent_at = NOW()\nWHERE usage_alerts.is_sent = false\nRETURNING id, organization_id, dimension, threshold_percent;","additionalFields":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[940,-100],"id":"upsert-alert","name":"Mark Alert Sent","credentials":{"postgres":{"id":"draggonnb-supabase-pg","name":"DraggonnB Supabase PG"}}},{"parameters":{"jsCode":"// Build WhatsApp alert message based on threshold\nconst data = $input.first().json;\nif (!data.id) return []; // No new alert (already sent)\n\nconst dim = data.dimension.replace(/_/g, ' ');\nconst pct = $('Calculate Thresholds').item.json.threshold_percent;\nconst used = $('Calculate Thresholds').item.json.used;\nconst total = $('Calculate Thresholds').item.json.total_available;\nconst orgName = $('Calculate Thresholds').item.json.org_name;\nconst boltOn = $('Calculate Thresholds').item.json.bolt_on_remaining;\n\nlet message = '';\nif (pct === 50) {\n  message = `Hi ${orgName}, your ${dim} usage is at 50% (${used}/${total}). You're on track!`;\n} else if (pct === 75) {\n  message = `Heads up ${orgName}! Your ${dim} usage is at 75% (${used}/${total}). Top up at your dashboard to avoid overage.`;\n} else if (pct === 90) {\n  message = `${orgName}, you've used 90% of your ${dim} (${used}/${total}). Top up now to avoid overage charges.`;\n} else if (pct === 100 && boltOn > 0) {\n  message = `${orgName}, you've used all your plan ${dim} but still have ${boltOn} bolt-on credits. No overage yet!`;\n} else if (pct === 100) {\n  message = `${orgName}, you've reached your ${dim} limit (${used}/${total}). Extra usage will be charged at overage rates. Top up at your dashboard.`;\n}\n\nreturn [{ json: { message, organization_id: data.organization_id, threshold: pct, dimension: data.dimension } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,-100],"id":"build-message","name":"Build Alert Message"}],"connections":{"Every 15 Minutes (offset +2m)":{"main":[[{"node":"Fetch Usage Data","type":"main","index":0}]]},"Fetch Usage Data":{"main":[[{"node":"Calculate Thresholds","type":"main","index":0}]]},"Calculate Thresholds":{"main":[[{"node":"Has Alerts?","type":"main","index":0}]]},"Has Alerts?":{"main":[[{"node":"Mark Alert Sent","type":"main","index":0}],[]]},"Mark Alert Sent":{"main":[[{"node":"Build Alert Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Johannesburg"}}]
